<!DOCTYPE html>
<html lang="eng"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Courier Add</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <h2 class="d-flex justify-content-center">COURIER ADD</h2>
        <br>

        <form action="#" method="POST" th:action="@{/api/couriers/save}" th:object="${courier}">
            <div class="form-group row">
                <label for="nameInput" class="col-sm-2 col-form-label">Courier Name : </label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{courier_name}" class="form-control" id="nameInput" placeholder="Enter Courier Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="typeInput" class="col-sm-2 col-form-label">Courier Type : </label>
                <div class="col-sm-9">
                    <select th:field="*{courier_type}" id="typeInput" class="form-control" aria-label="Courier Type">
                        <option th:value="MCY">Motorcycle</option>
                        <option th:value="CAR">Car</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="cityInput" class="col-sm-2 col-form-label">Coverage City : </label>
                <div class="col-sm-9">
                    <select th:field="*{coverage_city}" id="cityInput" class="form-control" aria-label="Coverage City">
                        <option th:each="city : ${coverageCityList}"
                                th:value="${city.city_id}"
                                th:text="${city.city_name}"></option>
                    </select>
                </div>
            </div>
            <a href="/couriers">
                <button type="button" class="btn btn-danger">CANCEL</button>
            </a>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
</div>

</body>
</html>