<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courier List</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h2>COURIER LIST</h2>

<div class="container">
    <a href="/couriers/add">
        <button type="button" class="btn btn-primary">ADD</button>
    </a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="courier : ${couriers}">
            <td th:text="${courier.courier_id}">ID</td>
            <td th:text="${courier.courier_name}">Name</td>
            <td th:text="${courier.courier_type}">Type</td>
            <td th:text="${courier.coverageCity.city_name}">City</td>
            <td>
                <a th:href="'/couriers/edit/' + ${courier.courier_id}">
                    <button type="button" class="btn btn-primary">EDIT</button>
                </a>
                <a th:href="'/api/couriers/delete/' + ${courier.courier_id}">
                    <button type="button" class="btn btn-danger" onClick="return confirm('sure?')">DELETE</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>