<!DOCTYPE html>
<html lang="eng"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Courier Add</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">
    <h2>COURIER ADD</h2>

    <div class="container">
        <form action="#" method="POST" th:action="@{/api/couriers/save}" th:object="${courier}">
            <div class="form-group">
                <label for="nameInput">Courier Name</label>
                <input type="text" th:field="*{courier_name}" class="form-control" id="nameInput" placeholder="Enter Courier Name">
            </div>
            <div class="form-group">
                <label for="typeInput">Courier Type</label>
                <select th:field="*{courier_type}" id="typeInput" class="form-select" aria-label="Courier Type">
                    <option th:value="MCY">Motorcycle</option>
                    <option th:value="CAR">Car</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cityInput">Coverage City</label>
                <select th:field="*{coverage_city}" id="cityInput" class="form-select" aria-label="Coverage City">
                    <option th:each="city : ${coverageCityList}"
                            th:value="${city.city_id}"
                            th:text="${city.city_name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>