<!DOCTYPE html>
<html lang="eng"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Coverage City Edit</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <h2 class="d-flex justify-content-center">COVERAGE CITY EDIT</h2>
        <br>

        <form action="#" method="POST" th:action="@{/api/coverageCities/save}" th:object="${coverageCity}">
            <div class="form-group row">
                <label for="cityID" class="col-sm-2 col-form-label">City Name : </label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{city_id}" class="form-control" id="cityID" placeholder="Enter City Name" readonly="readonly">
                </div>
            </div>
            <div class="form-group row">
                <label for="nameInput" class="col-sm-2 col-form-label">City Name : </label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{city_name}" class="form-control" id="nameInput" placeholder="Enter City Name" required>
                </div>
            </div>
            <a href="/coverageCities">
                <button type="button" class="btn btn-danger">CANCEL</button>
            </a>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
</div>

</body>
</html>