<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Packages List</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h2>PACKAGE LIST</h2>

<div class="container">
    <a href="/packages/add">
        <button type="button" class="btn btn-primary">ADD</button>
    </a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Package ID</th>
            <th scope="col">Package Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="package : ${packagesList}">
            <td th:text="${package.package_id}">Package ID</td>
            <td th:text="${package.package_description}">Package Description</td>
            <td>
                <a th:href="'/packages/edit/' + ${package.package_id}">
                    <button type="button" class="btn btn-primary">EDIT</button>
                </a>
                <a th:href="'/api/packages/delete/' + ${package.package_id}">
                    <button type="button" class="btn btn-danger" onClick="return confirm('sure?')">DELETE</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>