<!DOCTYPE html>
<html lang="eng"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Assignment List</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <h2 class="d-flex justify-content-center">ASSIGNMENT LIST</h2>
        <br>

        <form method="GET" th:action="@{/transactionAssignment}">
            <div class="form-group row">
                <label for="searchInput" class="col-sm-2 col-form-label">Courier Name : </label>
                <div class="col-sm-9">
                    <input id="searchInput" class="form-control" type="text" name="keyword" placeholder="Enter Keyword">
                </div>

                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Trx ID</th>
                <th scope="col">Trx Date</th>
                <th scope="col">Assign Date</th>
                <th scope="col">Courier</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="trxAssign : ${transactionAssignmentList}">
                <td th:text="${trxAssign.trx_id}">Trx ID</td>
                <td th:text="${trxAssign.transaction.trx_date}">Trx Date</td>
                <td th:text="${trxAssign.assign_date}">Assign Date</td>
                <td th:text="${trxAssign.courier.courier_name}">Courier</td>
                <td>
                    <a th:if="${trxAssign.courier.courier_name == '-'}" th:href="'/transactionAssignment/edit/' + ${trxAssign.assign_id}">
                        <button type="button" class="btn btn-primary">ASSIGN</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>