<!DOCTYPE html>
<html lang="eng"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Transaction List</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <h2 class="d-flex justify-content-center">TRANSACTION LIST</h2>
        <br>

        <form method="GET" th:action="@{/transactions}">
            <div class="form-group row">
                <label for="packageInput" class="col-sm-2 col-form-label">Trx Package : </label>
                <div class="col-sm-9">
                    <select id="packageInput" class="form-control" aria-label="Courier Type" name="keywordPackage">
                        <option selected disabled>Select Package</option>
                        <option th:each="package : ${packagesList}"
                                th:value="${package.package_description}"
                                th:text="${package.package_description}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="typeInput" class="col-sm-2 col-form-label">Trx Type : </label>
                <div class="col-sm-9">
                    <select id="typeInput" class="form-control" aria-label="Courier Type" name="keywordType">
                        <option selected disabled>Select Type</option>
                        <option th:value="AK" th:text="AK">AK</option>
                        <option th:value="DK" th:text="DK">DK</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="cityInput" class="col-sm-2 col-form-label">Source City : </label>
                <div class="col-sm-9">
                    <select id="cityInput" class="form-control" aria-label="Coverage City" name="keywordCity">
                        <option selected disabled>Select City</option>
                        <option th:each="city : ${coverageCityList}"
                                th:value="${city.city_name}"
                                th:text="${city.city_name}"></option>
                    </select>
                </div>

                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

        </form>

        <a href="/transactions/add">
            <button type="button" class="btn btn-primary">ADD</button>
        </a>
        <br><br>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Package</th>
                <th scope="col">Type</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="transaction : ${transactionsList}">
                <td th:text="${transaction.trx_id}">ID</td>
                <td th:text="${transaction.trx_date}">Date</td>
                <td th:text="${transaction.packageModel.package_description}">Package</td>
                <td th:text="${transaction.trx_type}">Type</td>
                <td th:text="${transaction.coverageCitySrc.city_name}">Source</td>
                <td th:text="${transaction.coverageCityDst.city_name}">Destination</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>