<!DOCTYPE html>
<html lang="eng"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Transaction Add</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <h2 class="d-flex justify-content-center">TRANSACTION ADD</h2>
        <br>

        <form action="#" method="POST" th:action="@{/api/transactions/add}" th:object="${transaction}">
            <div class="form-group row">
                <label for="packageInput" class="col-sm-2 col-form-label">Package : </label>
                <div class="col-sm-9">
                    <select th:field="*{trx_package}" id="packageInput" class="form-control" aria-label="Package">
                        <option th:each="package : ${packagesList}"
                                th:value="${package.package_id}"
                                th:text="${package.package_description}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="sourceCityInput" class="col-sm-2 col-form-label">Source City : </label>
                <div class="col-sm-9">
                    <select th:field="*{trx_city_src}" id="sourceCityInput" class="form-control" aria-label="Source City">
                        <option th:each="city : ${coverageCityList}"
                                th:value="${city.city_id}"
                                th:text="${city.city_name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="destinationCityInput" class="col-sm-2 col-form-label">Destination City : </label>
                <div class="col-sm-9">
                    <select th:field="*{trx_city_dst}" id="destinationCityInput" class="form-control" aria-label="estination City">
                        <option th:each="city : ${coverageCityList}"
                                th:value="${city.city_id}"
                                th:text="${city.city_name}"></option>
                    </select>
                </div>
            </div>

            <a href="/transactions">
                <button type="button" class="btn btn-danger">CANCEL</button>
            </a>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>

    </div>
</div>

</body>
</html>